body {
  padding: 0;
  margin: 0;
  font-family: Sans-Serif;
  color: #000;
  background: #f3f3f3;
  font-size: 20px;
}
.container {
  padding: 8px;
}
input {
  border: none;
  border-bottom: 2px solid #a9a9ec;

}
.productBox {
  padding: 0 4px;
}
.productBox input[type=submit]:hover, .konf:hover {
  background: #000;
  color: #f6f6fd;
}

.productBox input[type=submit] {
  width: 100%;
  padding: 8px 0;
  outline: none;
  background: #fff;
}

span {
  text-align: right;
}
.productBox input[type=text] {
  padding: 5px;
}

.konf {
  width: 98%;
  outline: none;
  border: none;
  padding: 8px;
  margin: 4.5px;
  border-bottom: 2px solid #a9a9ec;
  background: #fff;
}
.productBox .price {
  width: 98px;
}

.namep {
  width: 253px;
}

.btnBox:hover {
  background: #000;
  color: #f6f6fd;
}

.btnBox {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  width: 92.6%;
  height: 35px;
  background: #fff;
  margin: 5px;
  border-bottom: 2px solid #a9a9ec;
}

.btnBox p {
  margin: auto 0;
}

.btnBox .price {
  margin: 7px 0 0 auto;
}

.amount {
  margin: 7px;
}

.products {
  margin: 0;
  padding: 0;
  display: inline;
}

#btn {
  padding: 8px;
  width: 96%;
}

ul li {
  padding: 5px 0;
  margin: 0;
}

ul li button {
  padding: 8px;
  width: 100%;
  text-align: left;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1 {
  text-align: center;
}
.details {
  padding: 18px;
  width: 80%;
  height: 40vh;
  background: #fff;
  border-radius: 25px;
  margin: 0 auto;
}
.details li {
  padding: 5px;
}