body {
  padding: 0;
  margin: 0;
  font-family: Sans-Serif;
  color: #000;
  background: #f3f3f3;
  font-size: 20px;
}

input {
  border: none;
  border-bottom: 2px solid #a9a9ec;

}

.productBox input[type=submit]:hover {
  background: #000;
  color: #f6f6fd;
}

.productBox input[type=submit] {
  width: 96%;
  margin: 8px;
  padding: 8px 0;
  outline: none;
  background: #fff;
}

.productBox input[type=text] {
  padding: 5px;
}

.productBox .price {
  width: 90px;
}

.namep {
  width: 260px;
  margin-left: 8px;
}

.btnBox:hover {
  background: #000;
  color: #f6f6fd;
}

.btnBox {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  width: 91%;
  height: 35px;
  background: #fff;
  margin: 5px;
  border-bottom: 2px solid #a9a9ec;
}

.btnBox p {
  margin: auto 0;
}

.btnBox .price {
  margin: 7px 0 0 auto;
}

.amount {
  margin: 7px;
}

.products {
  margin: 0;
  padding: 0;
  display: inline;
}

#btn {
  padding: 8px;
  width: 96%;
  margin: 8px;
}

ul li {
  padding: 5px 0;
  margin: 0;
}

ul li button {
  padding: 8px;
  width: 100%;
  text-align: left;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
